@charset "utf-8";

:root {
  --gray-color: rgb(99, 99, 99);
  --font-color: #fff;
  --shape-width-height: 4rem;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(32, 32, 32);
  height: 100vh;
}

h2 {
  color: var(--font-color);
  font-weight: 100;
}

.wrapper {
  flex-direction: column;
}

.shape-box {
  width: 34rem;
  height: 25rem;
  padding: 10px;
  background-color: var(--gray-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--shape-width-height));
  grid-gap: 10px;
  justify-content: center;
  /* align-content aligns grid rows not the content inside the rows */
  align-content: start;
}

p {
  color: var(--font-color);
}

.square, .circle {
  width: var(--shape-width-height);
  height: var(--shape-width-height);
}
.circle {
  border-radius: 50%;
}